<table class="table table-striped">
  
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Scheduled Date</th>
      <th>Publisher</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
  <% events.forEach(function(event) { %>
    <tr>
      <td><a href="/events/<%= event.get('id') %>"><%= event.get('id') %></a></td>
      <td><a href="/events/<%= event.get('id') %>"><%= event.get('name') %></a></td>
      <td><%= new Date(event.get('scheduled_date')).toString('ddd, dd MMM yyyy, hh:mm tt') %></td>
      <td><%= event.get('publisher_name') %></td>
      <td><a href="/events/<%= event.get('id') %>/edit" class="btn btn-mini">Edit</a></td>
  <% }); %>
  </tbody>
  
  <tfoot>
    <tr>
      <th colspan="5">Showing <%= events.length %> event[s]</th>
    </tr>
  </tfoot>
  
</table>
