<h1>PlayOn! Events</h1>

<table class="table table-striped">
  
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Scheduled Date</th>
      <th>Publisher</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.id, event %></td>
      <td><%= link_to event.name, event %></td>
      <td><%= event.scheduled_date.strftime "%a, %d %b %Y" %></td>
      <td><%= link_to event.publisher.name, event.publisher %></td>
      <td><%= link_to "Edit", [:edit, event], :class => "btn btn-mini" %></td>
    </tr>
    <% end %>
  </tbody>
  
</table>

<hr>

<div id="events">
</div>
